:root {
	--sgnf-accent-inactive: #757575;
	--sgnf-accent-active: rgb(26, 115, 232);
	--sgnf-accent-active-light: hsl(214, 90%, 90%);
	--sgnf-accent-valid: #008000;
	--sgnf-accent-invalid: #d93025;
	--sgnf-accent-hover: #4285f4;

	--sgnf-border: rgb(218, 220, 224);

	--sgnf-background: #eee;
	--sgnf-background-active-light: hsl(214, 90%, 90%);
	--sgnf-background-valid-light: #E5F2E5;
	--sgnf-background-invalid-light: #FBEAE9;
}