.popover {
	position: absolute;
	top: 1rem;
	left: 0;
	z-index: 1060;
	display: block;
	max-width: 276px;
	padding: 1px;
	text-align: left;
	text-align: start;
	background-color: var(--sgn-accent-background);
	border: 1px solid var(--sgn-border-light);
	border-radius: .3rem;
	box-shadow: 0 5px 10px var(--sgn-shadow-light);
}


.popover.popover-auto[x-placement^="left"],
.popover.popover-left {
	margin-right: 10px;
}

.popover.popover-auto[x-placement^="top"],
.popover.popover-top {
	margin-bottom: 10px;
}

.popover.popover-auto[x-placement^="right"],
.popover.popover-right {
	margin-left: 10px;
}

.popover.popover-auto[x-placement^="bottom"],
.popover.popover-bottom {
	margin-top: 10px;
}


.popover .arrow, .tooltip .arrow {
	height: 5px;
	position: absolute;
	display: block;
}

.popover .arrow {
	width: 10px;
	/* top: 50%; */
}


.popover.popover-auto[x-placement^="left"] .arrow,
.popover.popover-left .arrow {
	right: 0;
	top: 50%;
}

.popover.popover-auto[x-placement^="top"] .arrow,
.popover.popover-top .arrow {
	bottom: 0;
	left: 50%;
}

.popover.popover-auto[x-placement^="right"] .arrow,
.popover.popover-right .arrow {
	left: 0;
	top: 50%;
}

.popover.popover-auto[x-placement^="bottom"] .arrow,
.popover.popover-bottom .arrow {
	top: 0;
	left: 50%;
}


.popover .arrow::after,
.popover .arrow::before {
	position: absolute;
	display: block;
	border-color: transparent;
	border-style: solid;
	content: "";
	border-width: 11px;
}


.popover.popover-auto[x-placement^="left"] .arrow::after,
.popover.popover-auto[x-placement^="left"] .arrow::before,
.popover.popover-left .arrow::after,
.popover.popover-left .arrow::before {
	margin-top: -8px;
	border-right-width: 0;
}

.popover.popover-auto[x-placement^="top"] .arrow::after,
.popover.popover-auto[x-placement^="top"] .arrow::before,
.popover.popover-top .arrow::after,
.popover.popover-top .arrow::before {
	border-bottom-width: 0;
}

.popover.popover-auto[x-placement^="right"] .arrow::after,
.popover.popover-auto[x-placement^="right"] .arrow::before,
.popover.popover-right .arrow::after,
.popover.popover-right .arrow::before {
	margin-top: 0;
	border-left-width: 0;
}

.popover.popover-auto[x-placement^="bottom"] .arrow::after,
.popover.popover-auto[x-placement^="bottom"] .arrow::before,
.popover.popover-bottom .arrow::after,
.popover.popover-bottom .arrow::before {
	margin-left: -7px;
	border-top-width: 0;
}


.popover.popover-auto[x-placement^="left"] .arrow::before,
.popover.popover-left .arrow::before {
	right: -11px;
	border-left-color: var(--sgn-border-light);
}

.popover.popover-auto[x-placement^="left"] .arrow::after,
.popover.popover-left .arrow::after {
	right: -10px;
	border-left-color: var(--sgn-accent-background);
}


.popover.popover-auto[x-placement^="top"] .arrow::before,
.popover.popover-top .arrow::before {
	bottom: -11px;
	margin-left: -6px;
	border-top-color: var(--sgn-border-light);
}

.popover.popover-auto[x-placement^="top"] .arrow::after,
.popover.popover-top .arrow::after {
	bottom: -10px;
	margin-left: -6px;
	border-top-color: var(--sgn-accent-background);
}


.popover.popover-auto[x-placement^="right"] .arrow::before,
.popover.popover-right .arrow::before {
	left: -11px;
	border-right-color: var(--sgn-border-light);
}

.popover.popover-auto[x-placement^="right"] .arrow::after,
.popover.popover-right .arrow::after {
	left: -10px;
	border-right-color: var(--sgn-accent-background);
}


.popover.popover-auto[x-placement^="bottom"] .arrow::before,
.popover.popover-bottom .arrow::before {
	top: -11px;
	border-bottom-color: var(--sgn-border-light);
}

.popover.popover-auto[x-placement^="bottom"] .arrow::after,
.popover.popover-bottom .arrow::after {
	top: -10px;
	border-bottom-color: var(--sgn-accent-background);
}


.popover-header {
	padding: 8px 14px;
	margin: 0;
	font-size: 1rem;
	color: inherit;
	background-color: var(--sgn-secondary-lightest);
	border-bottom: 1px solid var(--sgn-border-light);
	border-top-left-radius: calc(.3rem - 1px);
	border-top-right-radius: calc(.3rem - 1px);
}

.popover-body {
	padding: 9px 14px;
	color: inherit;
}
