@font-face {
	font-family: "Tw Cen MT";
	src: local('Tw Cen MT'), url("TwCenMTStd.otf") format("opentype"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}
@font-face {
	font-family: "Tw Cen MT Bold";
	src: local('Tw Cen MT Bold'), url("TwCenMTStd-Bold.otf") format("opentype"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}
@font-face {
	font-family: "Tw Cen MT Italic";
	src: local('Tw Cen MT Italic'), url("TwCenMTStd-Italic.otf") format("opentype"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

@font-face {
	font-family: "Tw Cen MT Light";
	src: local('Tw Cen MT Light'), url("TwCenMTStd-Light.otf") format("opentype"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}
@font-face {
	font-family: "Tw Cen MT Light Italic";
	src: local('Tw Cen MT Light Italic'), url("TwCenMTStd-LightItalic.otf") format("opentype"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

@font-face {
	font-family: "Tw Cen MT Semi Medium";
	src: local('Tw Cen MT Semi Medium'), url("TwCenMTStd-SemiMedium.otf") format("opentype"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

@font-face {
	font-family: "Tw Cen MT Ultra Bold";
	src: local('Tw Cen MT Ultra Bold'), url("TwCenMTStd-UltraBold.otf") format("opentype"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

@font-face {
	font-family: "Tw Cen MT Extra Bold";
	src: local('Tw Cen MT Extra Bold'), url("TwCenMTStd-ExtraBold.otf") format("opentype"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

@font-face {
	font-family: "Tw Cen MT Condensed Medium";
	src: local('Tw Cen MT Condensed Medium'), url("TwCenMTStd-MediumCond.otf") format("opentype"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

@font-face {
	font-family: "Tw Cen MT Condensed Bold";
	src: local('Tw Cen MT Condensed Bold'), url("TwCenMTStd-BoldCond.otf") format("opentype"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

@font-face {
	font-family: "Tw Cen MT Condensed Extra Bold";
	src: local('Tw Cen MT Condensed Extra Bold'), url("TwCenMTStd-ExtraBoldCond.otf") format("opentype"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}