.auto-grid {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.auto-grid > * {
	margin: var(--margin-md);
}

.auto-grid.col-5 > * {
	flex: 1 0 20%;
}

.auto-grid.col-4 > * {
	flex: 1 0 20%;
}

.auto-grid.col-3 > * {
	flex: 1 0 30%;
}

.auto-grid.col-2 > * {
	flex: 1 0 40%;
}

.auto-grid.col-1 > * {
	flex: 1 0 50%;
}

