:root, [class^="sgn-"], [class^="sgn-"] * {
	--margin-xs: .2rem;
	--margin-sm: .5rem;
	--margin-md: 1rem;
	--margin-lg: 1.5rem;
	--margin-xl: 2rem;
	--margin-2xl: 2.5rem;
	--margin-3xl: 3rem;
	--margin-4xl: 3.5rem;
	--margin-5xl: 4rem;
	--margin-6xl: 4.5rem;
	--margin-7xl: 5rem;
}