:root, [class^="sgn-"], [class^="sgn-"] * {
	--padding-xs: .2rem;
	--padding-sm: .5rem;
	--padding-md: 1rem;
	--padding-lg: 1.5rem;
	--padding-xl: 2rem;
	--padding-2xl: 2.5rem;
	--padding-3xl: 3rem;
	--padding-4xl: 3.5rem;
	--padding-5xl: 4rem;
	--padding-6xl: 4.5rem;
	--padding-7xl: 5rem;
}
