:root {
	--sgngf-border-width: 1px;
	--sgngf-border-width-inner: 1px;
	--sgngf-border-width-active: 2px;
	--sgngf-border-radius-size: 5px;
	--sgngf-border-radius-size-inner: 3px;


	--sgngf-label-font-color-active: #1a73e8;
	--sgngf-label-font-color-inactive: #888;
	--sgngf-label-font-color-edited: #757575;
	--sgngf-label-font-color-invalid: #d93025;
	--sgngf-label-font-color-valid: #008600;

	--sgngf-input-font-color: #202124;
	--sgngf-border-color: rgba(218, 220, 224, 1);
}